<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta
        name="description"
        content="🚀 Empowering Young Innovators with hands-on experiences, and fostering a passion for STEM fields! 🌟 A platform for growth and innovation in the world of technology"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@100;200;300;400;500;700;900&display=swap"
        rel="stylesheet"
    />
    <title>KITechProgram (KIT'023) - Empowering Young Innovators</title>
</head>
