---
import programmes from '../data/programmes.json';
import Container from '../components/shared/Container.astro';
import { Typography } from '../components/shared/Typography';
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout>
	<main class="w-full h-full">
		<!-- Hero Section -->
		<section
			class="bg-blue-700 w-full h-[60vh] flex flex-col gap-3 justify-center items-center"
		>
			<Typography variant="h1">Kids In Tech Program Summit</Typography>
			<Typography variant="body">FIRST EDITION</Typography>
			<Typography variant="h3">(KIT'023)</Typography>
		</section>
	</main>

	<!-- Career Programmes -->
	<section>
		<Container className="py-8">
			<Typography variant="h1" className="pb-4 text-center">
				Career Programmes
			</Typography>

			<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
				{
					programmes.map((program) => (
						<div class="program-card cursor-pointer flex justify-center items-center">
							{program}
						</div>
					))
				}
			</div>
		</Container>
	</section>
</DefaultLayout>

<style>
	.program-card {
		position: relative;
		border: 1px solid blue;
		height: 6rem;
		width: 100%;
		padding: 20px;
	}

	.program-card::after {
		position: absolute;
		top: 20px !important;
		left: 20px;
		width: 100%;
		height: 100%;
		background-color: blue;
		z-index: 10;
	}
</style>
