---
import programmes from '../data/programmes.json';
import Container from '../components/shared/Container.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout>
	<main class="w-full h-full">
		<!-- Hero Section -->
		<section
			class="bg-blue-700 w-full h-[60vh] flex flex-col gap-3 justify-center items-center"
		>
			<h1 class="text-4xl">Kids In Tech Program (KIT'023)</h1>
			<small>Live in Nsukka, Enugu</small>
		</section>

		<!-- Career Programmes -->
		<section>
			<Container className="py-8">
				<h1 class="p-3 text-4xl">Career Programmes</h1>

				<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4">
					{
						programmes.map((program) => (
							<div class="border-2 px-6 py-3 ">{program}</div>
						))
					}
				</div>
			</Container>
		</section>
	</main>
</DefaultLayout>
